
[submodule "submodule12"]
	path = submodule12
	url = git@github.com:Silverdale-NomanNaeem/submodule.git
	path = "aabbca"

[submodule "submodule2"]
	path = submodule2
	url = git@github.com:Silverdale-NomanNaeem/submodule2.git

[submodule "submodule"]
	path = submodule
	url = git@github.com:Silverdale-NomanNaeem/submodule.git

[submodule "asd"]
	path = asd
	url = git@github.com:as/sdf.git

[submodule "asd"]
	path = asd
	url = git@github.com:sad/asd.git
